<div *ngIf="inst">
  <div *ngIf="inst.loading" class="loader"></div>
  <ng-container *ngIf="!inst.loading">
    <input matInput [matAutocomplete]="auto" [formControl]="nameCtrl" />
  </ng-container>
  <!-- <mat-form-field *ngIf="!inst.loading">
            <input matInput  [matAutocomplete]="auto" [formControl]="nameCtrl" >
        </mat-form-field> -->

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let n of filteredNames | async" [value]="n">
      {{ n }}
    </mat-option>
  </mat-autocomplete>
</div>
